# Python cache and build
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.sv/

# IDE/project files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# FastAPI / Uvicorn cache
*.db
*.sqlite3

# Environment files
.env
.env.*